# Dependências
node_modules/

# Build
dist/
dist-ssr/

# Arquivos locais
*.local

# Variáveis de ambiente e segredos
.env
.env.local
.env.*.local

# Logs
*.log

# VS Code
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Outros editores
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

# Atalhos do Windows
*.lnk